In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import copy
import sys

In [3]:
from bamboo import bamboo as bb

# base functions

In [4]:
data = {'str_col':['hello world this is a big string line, pandas is stronger with bamboo' for _ in range(3500)]}

In [44]:
data = {'col'+str(i): ['hello world this is a big string line, pandas is stronger with bamboo' for _ in range(3500)] for i in range(10)}

In [45]:
df = pd.DataFrame(data)
bdf = bb.DataFrame(data)

### Create DataFrame

In [186]:
%%timeit
df = pd.DataFrame(data)

101 µs ± 538 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [187]:
%%timeit
bdf = bb.DataFrame(df)

9.07 µs ± 32.3 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [188]:
%%timeit
bdf = bb.DataFrame(data)

4.72 µs ± 108 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

71 ms ± 596 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

### at

In [189]:
%%timeit
for i in range(len(df)):
    value = df.at[i, 'str_col']
    df.at[i, 'str_col'] = value

127 ms ± 177 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [7]:
%%timeit
for row in df.itertuples():
    value = row.str_col
    df.at[row.Index, 'str_col'] = value

70.9 ms ± 596 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [190]:
%%timeit
for i in range(len(bdf)):
    value = bdf.at[i, 'str_col']
    bdf.at[i, 'str_col'] = value

2.97 ms ± 20.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [191]:
%%timeit
for i in range(len(bdf['str_col'])):
    value = bdf['str_col'][i]
    bdf['str_col'][i] = value

965 µs ± 9.81 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

### loc

In [32]:
%%timeit
for i in range(len(df)):
    value = df.loc[i, 'str_col']
    df.loc[i, 'str_col'] = value

170 ms ± 2.19 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [33]:
%%timeit
for i in range(len(df)):
    value = bdf.loc[i, 'str_col']
    bdf.loc[i, 'str_col'] = value

3.22 ms ± 39.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

### properties

In [80]:
%%timeit
df.shape

368 ns ± 0.972 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [79]:
%%timeit
bdf.shape

128 ns ± 0.225 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [10]:
%%timeit
df.size

3.25 µs ± 30.9 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [12]:
%%timeit
bdf.size

133 ns ± 0.645 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [34]:
%%timeit
for i in range(len(df)-2):
    df.loc[i:i+2, 'str_col']

99.6 ms ± 756 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [35]:
%%timeit
for i in range(len(bdf)-2):
    bdf.loc[i:i+2, 'str_col']

1.62 ms ± 2.33 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

# concat
TODO

In [30]:
data = {'str_col':['dataset 2' for _ in range(3500)], 'int_col': [1] * 3500}
df2 = pd.DataFrame(data)
bdf2 = bb.DataFrame(data)

In [57]:
data2 = {'col'+str(i): ['dataset 2' for _ in range(3500)] for i in range(10,15)}
df2 = pd.DataFrame(data2)
bdf2 = bb.DataFrame(data2)

In [58]:
%%timeit
pd.concat([df, df2], axis=0)

503 µs ± 17.3 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [59]:
%%timeit
bb.concat([bdf, bdf2], axis=0)

The slowest run took 4.25 times longer than the fastest. This could mean that an intermediate result is being cached.
833 µs ± 352 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

# Memory Usage

27.2 µs ± 90.5 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

'hello world this is a big string line, googble gobble, one of us'

48.6 ms ± 359 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [41]:
%%timeit 
for i in range(len(df)):
    data = t['str_col'][i]
    t['str_col'][i] = data

120 µs ± 1.06 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [240]:
%%timeit
def sameVal(value):
    return value

df.str_col.apply(sameVal)

182 µs ± 438 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [29]:
%%timeit
df.str_col.str.contains('us')

621 µs ± 2.8 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [31]:
%%timeit
[ True if 'us' in value else False for value in bb['str_col']]

214 µs ± 22.6 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [35]:
%%timeit
df.str_col == 'hello world this is a big string line, googble gobble, one of u'

115 µs ± 344 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [45]:
#%%timeit
test =['hello world this is a big string line, googble gobble, one of u' == value for value in  bb['str_col']]

In [2]:
def recursive_sum_merge(numbers):
    # Base case: If the list contains only one element, return that element.
    if len(numbers) == 1:
        return numbers[0]

    # Divide the list into two halves.
    mid = len(numbers) // 2
    left_half = numbers[:mid]
    right_half = numbers[mid:]

    # Recursively calculate the sum of the left and right halves.
    left_sum = recursive_sum_merge(left_half)
    right_sum = recursive_sum_merge(right_half)

    # Merge the sums of the left and right halves.
    return left_sum + right_sum

# Example usage:
my_list = [1, 2, 3, 4, 5]
result = recursive_sum_merge(my_list)
print(result)  # This will print 15, which is the sum of the numbers in the list.

15

In [11]:
nums = [num for num in range(1000)]

In [12]:
df = pd.DataFrame({'nums' : nums})

In [14]:
%%timeit
df.nums.sum()

19.7 µs ± 86.5 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [15]:
%%timeit
sum(nums)

4.4 µs ± 12.4 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [16]:
%%timeit
recursive_sum_merge(nums)

277 µs ± 163 ns per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [19]:
npnums = np.array(nums)

In [22]:
%%timeit
npnums.sum()

1.26 µs ± 1.97 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [30]:
sys.getsizeof(npnums)

8112

In [31]:
sys.getsizeof(nums)

8856

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nums    1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

In [34]:
df.memory_usage(index=True).sum()

8132

In [37]:
%%timeit
#apply test 
def sameNum(x):
    return x

df['nums'] = df.nums.apply(sameNum)

294 µs ± 702 ns per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [175]:
t2 = bbDataFrame(df)

In [116]:
%%timeit
for i in range(len(df)):
    data = df.loc[i, 'str_col']
    df.loc[i, 'str_col'] = data

74.5 ms ± 1.43 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [117]:
first = df.str_col[0]

In [118]:
%%timeit
df.loc[1:500, 'str_col'] = first

18 µs ± 65.8 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [119]:
%%timeit
for i in range(len(test)):
    data = test.loc[i, 'str_col']
    test.loc[i, 'str_col'] = data

1.38 ms ± 6.4 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [120]:
%%timeit
df.loc[1:500, 'str_col'] = first

17.9 µs ± 8.88 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [177]:
t2.loc[2, 'str_col'] = 'test'

In [179]:
df['str_col']

0       hello world this is a big string line, googble...
1                                                    test
2       hello world this is a big string line, googble...
3       hello world this is a big string line, googble...
4       hello world this is a big string line, googble...
                              ...
3495    hello world this is a big string line, googble...
3496    hello world this is a big string line, googble...
3497    hello world this is a big string line, googble...
3498    hello world this is a big string line, googble...
3499    hello world this is a big string line, googble...
Name: col, Length: 3500, dtype: object

In [57]:
test.loc[1, 'str_col'] = 'test'

(1, 'col')

In [64]:
%%timeit
test.at[10,'str_col']

154 ns ± 0.901 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [49]:
%%timeit
df.at[10, 'str_col']

1.12 µs ± 11.6 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [75]:
%%timeit
test.at[10,'str_col']

162 ns ± 0.982 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [121]:
test.at[1, 'str_col'] = 'it worked'

(1, 'col') it worked

In [128]:
%%timeit
for i in range(len(df)):
    data = df.at[i, 'str_col']
    df.at[i, 'str_col'] = data

31.2 ms ± 64.3 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [134]:
%%timeit
for i in range(len(test['str_col'])):
    data = test.at[i, 'str_col']
    test.at[i, 'str_col'] = data

1.23 ms ± 7.62 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [136]:
%%timeit
for i in range(len(test['str_col'])):
    data = test['str_col'][i]
    test['str_col'][i] = data

260 µs ± 2.02 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [128]:
31.2/0.26

120.0

# R&D

In [210]:
%%timeit
df.loc[df.str_col.str.contains('foo')]

610 µs ± 3.85 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [183]:
%%timeit
found = [True if 'us' in value else False for value in t['str_col']]
subset = {}
for str_col in t.keys():
    data =[t[str_col][i] for i in range(len(df)) if found[i]]
    subset[str_col] = data

401 µs ± 2.16 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [203]:
%%timeit
found = [True if 'foo' in value else False for value in t['str_col']]
{str_col: [t[str_col][i] for i in range(len(t['str_col'])) if found[i]] for str_col in t.keys()}

291 µs ± 1.89 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [211]:
%%timeit
found = [idx for idx, value in enumerate(t['str_col']) if 'foo' in value]
subset = {str_col: [t[str_col][i] for i in found] for str_col in t.keys()}

173 µs ± 800 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [194]:
t['idx']

range(0, 3500)

In [199]:
t['str_col'][3499] = 'hello world this is a big string line, googble gobble, one of foo'

In [205]:
found = [idx for idx, value in enumerate(t['str_col']) if 'foo' in value]

In [206]:
found

[3499]

In [87]:
df['str_col'] = df['str_col'].astype('category')

In [89]:
sys.getsizeof(df)

3878

In [17]:
test = {'col': [1,2,3]}
test['col'].extend([3,4,5])

In [18]:
test

{'col': [1, 2, 3, 3, 4, 5]}

# todo

In [83]:
# attruibute col?
bdf.str_col

AttributeError: 'DataFrame' object has no attribute 'str_col'

In [20]:
df2 = df.copy()

In [22]:
df2['t'] = 1

In [25]:
pd.concat([df2, df], axis=0)

[autoreload of bamboo.bamboo failed: Traceback (most recent call last):
  File "C:\Users\dps65\miniconda3\envs\math\lib\site-packages\IPython\extensions\autoreload.py", line 273, in check
    superreload(m, reload, self.old_objects)
  File "C:\Users\dps65\miniconda3\envs\math\lib\site-packages\IPython\extensions\autoreload.py", line 471, in superreload
    module = reload(module)
  File "C:\Users\dps65\miniconda3\envs\math\lib\importlib\__init__.py", line 169, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 619, in _exec
  File "<frozen importlib._bootstrap_external>", line 879, in exec_module
  File "<frozen importlib._bootstrap_external>", line 1017, in get_code
  File "<frozen importlib._bootstrap_external>", line 947, in source_to_code
  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed
  File "D:\git\bamboo\bamboo\bamboo.py", line 127
    for col in df1_columns.difference(df2.columns)
                                                  ^
SyntaxError: expected ':'
]

                                                str_col    t
0     hello world this is a big string line, pandas ...  1.0
1     hello world this is a big string line, pandas ...  1.0
2     hello world this is a big string line, pandas ...  1.0
3     hello world this is a big string line, pandas ...  1.0
4     hello world this is a big string line, pandas ...  1.0
...                                                 ...  ...
3495  hello world this is a big string line, pandas ...  NaN
3496  hello world this is a big string line, pandas ...  NaN
3497  hello world this is a big string line, pandas ...  NaN
3498  hello world this is a big string line, pandas ...  NaN
3499  hello world this is a big string line, pandas ...  NaN

[7000 rows x 2 columns]