In [4]:
%load_ext autoreload
%autoreload 2

In [100]:
import pandas as pd
import numpy as np
import copy
import sys

In [96]:
t = {'col':['hello world this is a big string line, googble gobble, one of us' for _ in range(3500)]}

In [97]:
df = pd.DataFrame({'col': t['col']})

In [7]:
import bamboo as bb

In [8]:
bdf = bb.DataFrame(df)

In [1]:
df

NameError: name 'df' is not defined

In [11]:
%%timeit
for i in range(len(df)):
    data = df.at[i, 'col']
    #df.at[i, 'col'] = data

6.4 ms ± 53.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [21]:
%%timeit
for i in range(len(t['col'])):
    data = t['col'][i]
    #t['col'][i] = data

73.4 µs ± 254 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [20]:
%%timeit
for i in range(len(df)):
    data = df.loc[i, 'col']
    df.loc[i, 'col'] = data

73.1 ms ± 462 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [17]:
%%timeit
for i in range(len(bdf)):
    data = bdf.at[i, 'col']

4.98 ms ± 23 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [18]:
%%timeit
for i in range(len(bdf)):
    data = bdf[i, 'col']

2.64 ms ± 27.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [11]:
bdf2 = bb.DataFrame2(df)

In [22]:
%%timeit
for i in range(len(df)):
    data = bdf2.at(10, 'col')

2.54 ms ± 20.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [46]:
%%timeit
df.to_dict('list')

741 µs ± 1.5 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [49]:
%%timeit
df.col.tolist()

27.2 µs ± 90.5 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [23]:
df.at[10,'col']

'hello world this is a big string line, googble gobble, one of us'

In [36]:
%%timeit 
for i in range(len(df)):
    data = df['col'][i]
    df['col'][i] = data

48.6 ms ± 359 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [41]:
%%timeit 
for i in range(len(df)):
    data = t['col'][i]
    t['col'][i] = data

120 µs ± 1.06 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [240]:
%%timeit
def sameVal(value):
    return value

df.col.apply(sameVal)

182 µs ± 438 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [29]:
%%timeit
df.col.str.contains('us')

621 µs ± 2.8 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [31]:
%%timeit
[ True if 'us' in value else False for value in bb['col']]

214 µs ± 22.6 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [35]:
%%timeit
df.col == 'hello world this is a big string line, googble gobble, one of u'

115 µs ± 344 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [45]:
#%%timeit
test =['hello world this is a big string line, googble gobble, one of u' == value for value in  bb['col']]

In [51]:
conda env

usage: conda-env [-h] {create,export,list,remove,update,config} ...

positional arguments:
  {create,export,list,remove,update,config}
    create              Create an environment based on an environment file
    export              Export a given environment
    list                List the Conda environments
    remove              Remove an environment
    update              Update the current environment based on environment
                        file
    config              Configure a conda environment

optional arguments:
  -h, --help            Show this help message and exit.

conda commands available from other packages:
  env

Note: you may need to restart the kernel to use updated packages.

In [42]:
(115-49.8)/115

0.5669565217391305

In [2]:
def recursive_sum_merge(numbers):
    # Base case: If the list contains only one element, return that element.
    if len(numbers) == 1:
        return numbers[0]

    # Divide the list into two halves.
    mid = len(numbers) // 2
    left_half = numbers[:mid]
    right_half = numbers[mid:]

    # Recursively calculate the sum of the left and right halves.
    left_sum = recursive_sum_merge(left_half)
    right_sum = recursive_sum_merge(right_half)

    # Merge the sums of the left and right halves.
    return left_sum + right_sum

# Example usage:
my_list = [1, 2, 3, 4, 5]
result = recursive_sum_merge(my_list)
print(result)  # This will print 15, which is the sum of the numbers in the list.

15

In [11]:
nums = [num for num in range(1000)]

In [12]:
df = pd.DataFrame({'nums' : nums})

In [14]:
%%timeit
df.nums.sum()

19.7 µs ± 86.5 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [15]:
%%timeit
sum(nums)

4.4 µs ± 12.4 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [16]:
%%timeit
recursive_sum_merge(nums)

277 µs ± 163 ns per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [19]:
npnums = np.array(nums)

In [22]:
%%timeit
npnums.sum()

1.26 µs ± 1.97 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [23]:
%%timeit
for i in range(len(df)):
    data = df.at[i, 'nums']
    df.at[i, 'nums'] = data

16.7 ms ± 22.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [24]:
%%timeit
for i in range(len(df)):
    data = nums[i]
    nums[i] = data

33.6 µs ± 303 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [26]:
%%timeit
for i in range(len(df)):
    data = npnums[i]
    npnums[i] = data

120 µs ± 3.74 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [30]:
sys.getsizeof(npnums)

8112

In [31]:
sys.getsizeof(nums)

8856

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nums    1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

In [34]:
df.memory_usage(index=True).sum()

8132

In [37]:
%%timeit
#apply test 
def sameNum(x):
    return x

df['nums'] = df.nums.apply(sameNum)

294 µs ± 702 ns per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [8]:
class bb:  
    class DataFrame:
        def __init__(self, data):
            if isinstance(data, pd.DataFrame):
                self.data = {col:data[col] for col in data.columns}

            #self.at = self.__getitem__

        def __getitem__(self, args):
            index, columns = args
            if isinstance(columns, str):
                return self.data[columns][index]


        def __setitem__(self, index, value):
            self.data[index] = value

        def __len__(self):
            return len(self.data)

        def __repr__(self):
            return repr(self.data)

        @property
        def at(self):
            return at(self)


        class at:
            def __init__(self, main):
                self.main = main
            def __getitem__(self, value):
                return self.main[value]

In [10]:
test = DataFrame(df)

NameError: name 'DataFrame' is not defined

In [4]:
import bb

ModuleNotFoundError: No module named 'bamboo'

In [3]:
bb

In [189]:
bb.DataFrame(df)

AttributeError: module 'bb' has no attribute 'DataFrame'

In [196]:
#%%timeit
test.at[10, 'col']

TypeError: type 'at' is not subscriptable

In [164]:
%%timeit
test[10, 'col']

1.24 µs ± 2.35 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [54]:
%%timeit
DataFrame(df)

1.92 µs ± 5.79 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [8]:
class A:
    def __init__(self, lst):
        self.lst = lst
    def __getitem__(self, value):
        return self.lst[value]
    
    @property
    def b(self):
        return B(self)

class B:
    def __init__(self, a):
        self.a = a
    def __getitem__(self, value):
        return self.a[value]

In [9]:
x = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
a = A(x)

In [174]:
class bbDataFrame():
    def __init__(self, data):
        if isinstance(data, pd.DataFrame):
            self.data = data.to_dict('list') #{col:data[col] for col in data.columns}
            self.len = len(data)
        elif isinstance(data, dict):
            self.data = copy.deepcopy(data)
            self.len = len(data[next(iter(data.keys()))])
            
    def __getitem__(self, value):
        return self.data[value]
    
    def __repr__(self):
        return PD(self)

    
    def __len__(self):
        return self.len
    
    def columns(self):
        return list(self.data.keys())
    
    @property
    def at(self):
        return AT(self)
    
    @property
    def loc(self):
        return LOC(self)
    

class AT:
    def __init__(self, a):
        self.a = a
        
    def __getitem__(self, args):
        index, col = args
        return self.a[col][index]
    
    def __setitem__(self, args, value):
        index, col = args
        self.a[col][index] = value
        
        
class LOC:
    def __init__(self, a):
        self.a = a
        
    def __getitem__(self, args):
        index_s, col = args
        return self.a[col][index_s]
    
    def __setitem__(self, args, value):
        if isinstance(args, slice):
            for i in range(args.start,args.stop): 
                self.a[col][i] = value
        else:
            index, col = args
            self.a[col][index] = value
            

class PD:
    def __init__(self, a):
        self.a = pd.DataFrame.from_dict(a)

In [166]:
test = bbDataFrame(t)

In [175]:
t2 = bbDataFrame(df)

In [116]:
%%timeit
for i in range(len(df)):
    data = df.loc[i, 'col']
    df.loc[i, 'col'] = data

74.5 ms ± 1.43 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [117]:
first = df.col[0]

In [118]:
%%timeit
df.loc[1:500, 'col'] = first

18 µs ± 65.8 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [119]:
%%timeit
for i in range(len(test)):
    data = test.loc[i, 'col']
    test.loc[i, 'col'] = data

1.38 ms ± 6.4 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [120]:
%%timeit
df.loc[1:500, 'col'] = first

17.9 µs ± 8.88 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [177]:
t2.loc[2, 'col'] = 'test'

In [179]:
df['col']

0       hello world this is a big string line, googble...
1                                                    test
2       hello world this is a big string line, googble...
3       hello world this is a big string line, googble...
4       hello world this is a big string line, googble...
                              ...
3495    hello world this is a big string line, googble...
3496    hello world this is a big string line, googble...
3497    hello world this is a big string line, googble...
3498    hello world this is a big string line, googble...
3499    hello world this is a big string line, googble...
Name: col, Length: 3500, dtype: object

In [57]:
test.loc[1, 'col'] = 'test'

(1, 'col')

In [134]:
test

ValueError: DataFrame constructor not properly called!

In [64]:
%%timeit
test.at[10,'col']

154 ns ± 0.901 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [49]:
%%timeit
df.at[10, 'col']

1.12 µs ± 11.6 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [75]:
%%timeit
test.at[10,'col']

162 ns ± 0.982 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [121]:
test.at[1, 'col'] = 'it worked'

(1, 'col') it worked

In [128]:
%%timeit
for i in range(len(df)):
    data = df.at[i, 'col']
    df.at[i, 'col'] = data

31.2 ms ± 64.3 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [134]:
%%timeit
for i in range(len(test['col'])):
    data = test.at[i, 'col']
    test.at[i, 'col'] = data

1.23 ms ± 7.62 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [136]:
%%timeit
for i in range(len(test['col'])):
    data = test['col'][i]
    test['col'][i] = data

260 µs ± 2.02 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [128]:
31.2/0.26

120.0

In [56]:
class BamBoo(dict):
    def __init__(self, lst):
        self.lst = lst
    def __getitem__(self, value):
        return self.lst[value]
    @property
    def b(self):
        return B(self)
    @property
    def at(self):
        return TDF(self)

class B:
    def __init__(self, a):
        self.a = a
    def __getitem__(self, value):
        return self.a[value]

3

In [59]:
# Create an instance of CustomList
my_list = CustomList(['hello world this is a big string line, googble gobble, one of us' for _ in range(3500)])

In [75]:
df[['col','col2']].loc[df['col2'].isna()]

                                                    col  col2
0     hello world this is a big string line, googble...  None
1     hello world this is a big string line, googble...  None
2     hello world this is a big string line, googble...  None
3     hello world this is a big string line, googble...  None
4     hello world this is a big string line, googble...  None
...                                                 ...   ...
3495  hello world this is a big string line, googble...  None
3496  hello world this is a big string line, googble...  None
3497  hello world this is a big string line, googble...  None
3498  hello world this is a big string line, googble...  None
3499  hello world this is a big string line, googble...  None

[3500 rows x 2 columns]

In [77]:
df['col'][3]

'hello world this is a big string line, googble gobble, one of us'

In [24]:
class CustomDict(dict):
    def test(self):
        # Your custom code here
        return "This is a custom method for CustomList"

    def __getitem__(self, keys):
        if isinstance(keys, str):
            return super().__getitem__(keys)
        return {key:super().__getitem__(key) for key in keys}
    
    def __getattr__(self, name):
        # This method is called when an attribute or method is not found
        return lambda *args, **kwargs: f"{name} does not exist."
    
    def __repr__(self):
        return dict(self)
    
    
    def to_pd(self):
        return pd.DataFrame(self)
    
    @property
    def at(self,value):
        print(value)
        return B(self)
    
class B:
    def __init__(self, a):
        self.a = a
    def __getitem__(self, value):
        return self.a[value]

In [25]:
test = CustomDict(t)

In [26]:
test.at[10, 'col']

TypeError: CustomDict.at() missing 1 required positional argument: 'value'

In [159]:
%%timeit 
for i in range(len(test['col'])):
    data = test['col'][i]
    test['col'][i] = data

171 µs ± 870 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [214]:
test

TypeError: expected 0 arguments, got 1

In [104]:
len(test['col'])

3500

In [117]:
df[df.col == True]

Empty DataFrame
Columns: [col, col2]
Index: []

In [118]:
test['col'][1] = 'hello world'

In [147]:
sys.getsizeof(test)

208

In [148]:
sys.getsizeof(test['col'])

29336

In [155]:
df.memory_usage(deep=True)

Index       132
col      423500
col2      84000
dtype: int64

In [156]:
df

                                                    col  col2
0     hello world this is a big string line, googble...  None
1     hello world this is a big string line, googble...  None
2     hello world this is a big string line, googble...  None
3     hello world this is a big string line, googble...  None
4     hello world this is a big string line, googble...  None
...                                                 ...   ...
3495  hello world this is a big string line, googble...  None
3496  hello world this is a big string line, googble...  None
3497  hello world this is a big string line, googble...  None
3498  hello world this is a big string line, googble...  None
3499  hello world this is a big string line, googble...  None

[3500 rows x 2 columns]

In [210]:
%%timeit
df.loc[df.col.str.contains('foo')]

610 µs ± 3.85 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [183]:
%%timeit
found = [True if 'us' in value else False for value in t['col']]
subset = {}
for col in t.keys():
    data =[t[col][i] for i in range(len(df)) if found[i]]
    subset[col] = data

401 µs ± 2.16 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [203]:
%%timeit
found = [True if 'foo' in value else False for value in t['col']]
{col: [t[col][i] for i in range(len(t['col'])) if found[i]] for col in t.keys()}

291 µs ± 1.89 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [211]:
%%timeit
found = [idx for idx, value in enumerate(t['col']) if 'foo' in value]
subset = {col: [t[col][i] for i in found] for col in t.keys()}

173 µs ± 800 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [194]:
t['idx']

range(0, 3500)

In [199]:
t['col'][3499] = 'hello world this is a big string line, googble gobble, one of foo'

In [205]:
found = [idx for idx, value in enumerate(t['col']) if 'foo' in value]

In [206]:
found

[3499]

In [ ]:
import pandas as pd

data = {'Target_Value': [10, 20, 30, 40, 50],
        'Search_Column': [12, 22, 35, 42, 55]}

df = pd.DataFrame(data)

In [ ]:
sdf